slam_toolbox:
  ros__parameters:
    mode: mapping
    map_frame: map
    odom_frame: odom
    base_frame: base_link
    scan_topic: /scan

    use_odom: false          # no wheel odom
    use_imu: false
    use_scan_matching: true
    resolution: 0.05         # map resolution (m/cell)
    transform_publish_period: 0.02

